# Database (get your connection string from neon.tech)
DATABASE_URL="postgresql://..."

# Better Auth
BETTER_AUTH_SECRET="your-secret-here"
BETTER_AUTH_URL="http://localhost:3000"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

API_URL=
FEE_TOKEN=0x29F45fc3eD1d0ffaFb5e2af9Cc6C3AB1555cd5a2
CONTRACT= 0x036CbD53842c5426634e7929541eC2318f3dCF7e

NEXT_PUBLIC_CONTRACT= 0x036CbD53842c5426634e7929541eC2318f3dCF7e
NEXT_PUBLIC_FEE_TOKEN=0x29F45fc3eD1d0ffaFb5e2af9Cc6C3AB1555cd5a2
